Repository neuefische/certificates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

🎨 Prettify docker workflow
  .github/workflows/docker-publish.yml
Due: none

Create LICENSE
  LICENSE
Due: none

👷 Create dockerfile
  Dockerfile
Due: none

✨ Change default download name of PDF
  src/server.ts
Due: eslint --fix --cache, prettier --write

🐛 Only create third page when project is in json
  src/api.ts
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🐛 Place technologies based on title height
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🔇 Remove log
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

👽️ Fetch course data from gist
  src/api.ts
Due: eslint --fix --cache, prettier --write

⚰️ Remove dead import
  src/api.ts
Due: eslint --fix --cache, prettier --write

📝 Add missing env in documentation
  README.md
Due: prettier --write

✨ Add course query
  src/server.ts
Due: eslint --fix --cache, prettier --write

✨ Add getCourseFromFS function
  src/api.ts
Due: eslint --fix --cache, prettier --write

✨ Get course from FS
  src/server.ts
Due: eslint --fix --cache, prettier --write

⚰️ Remove unused imports
  src/server.ts
Due: eslint --fix --cache, prettier --write

💬 Update course.json
  src/assets/samples/courses.json
Due: prettier --write

🩹 Fix max width of text
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

💬 Update course details
  src/assets/samples/courses.json
Due: prettier --write

💬 Update course data
  src/assets/samples/courses.json
Due: prettier --write

🚑 Filter Diacritis in download name
  src/server.ts
Due: eslint --fix --cache, prettier --write

♻️ Create normalizeDiacritics helper function
  src/server.ts
  src/utils.ts
Due: eslint --fix --cache, prettier --write

✏️ Fix typo in TypeScript
  src/assets/samples/courses.json
Due: prettier --write

🎨 Fix format
  src/assets/samples/courses.json
Due: prettier --write

✏️ Fix format
  src/assets/samples/courses.json
Due: prettier --write

🔥 Remove unused files
  src/assets/images/page1.jpg
  src/assets/images/page2.jpg
  src/assets/images/page3.png
  src/assets/samples/talents.json
Due: prettier --write

🚑 Fix typo
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

♻️ Add text helper
  src/certificate.ts
  src/components/text.ts
Due: eslint --fix --cache, prettier --write

🐛 Fix line-break in capstone title The title font-size is calculated based on the text and max-width
  src/certificate.ts
  src/utils.ts
Due: eslint --fix --cache, prettier --write

🔥 Remove unused widthOfString
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

♻️ Use text helper
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

📝 Update usage guide
  README.md
Due: prettier --write

🔥 Remove unused getCourse
  src/api.ts
Due: eslint --fix --cache, prettier --write

Add location field for each course
  package-lock.json
  src/api.ts
  src/assets/samples/courses.json
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

📝 Update studentId and courseId description
  README.md
Due: prettier --write

♻️ Convert params to an object param
  src/certificate.ts
  src/utils.ts
Due: eslint --fix --cache, prettier --write

Revert package-lock.json that was accidentally downgraded
  package-lock.json
Due: prettier --write

Add required npm version to package.json and add .npmrc
  .npmrc
  package.json
Due: prettier --write

Added curriculum for the muc-21-2 course
  src/assets/samples/courses.json
Due: prettier --write

Add rem-java-21-2 course to samples
  src/assets/samples/courses.json
Due: prettier --write

Fix prettier rem-java-21-2
  src/assets/samples/courses.json
Due: prettier --write

Update rem-java-21-2 course content
  src/assets/samples/courses.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
