Repository neuefische/certificates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix --cache",
  "*.{js,ts,json,md}": "prettier --write"
}

Revert "Add hh-web-22-1 json"
  src/assets/samples/courses.json
Due: prettier --write

Fix ci
  .dockerignore
Due: none

move-deployment-to-aws
  .elasticbeanstalk/config.yml
  .github/workflows/deploy-certificates.yml
  .gitignore
  package-lock.json
Due: prettier --write

remove-deploy-on-pr
  .github/workflows/deploy-certificates.yml
Due: none

updated courses JSON for hh-analytics-22-1
  src/assets/samples/courses.json
Due: prettier --write

Add json
  src/assets/samples/courses.json
Due: prettier --write

Update json
  src/assets/samples/courses.json
Due: prettier --write

Init aws 22 1
  src/assets/samples/courses.json
Due: prettier --write

Add aws type
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Update aws 21 1 topics
  src/assets/samples/courses.json
Due: prettier --write

cgn-web-22-1 added to courses
  src/assets/samples/courses.json
Due: prettier --write

Update topics aws
  src/assets/samples/courses.json
Due: prettier --write

Add AWS Course first page
  src/api.ts
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Change aws image size
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Remove *in
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

hh-java-22-1
  package-lock.json
  src/assets/samples/courses.json
Due: prettier --write

create muc-ds-22-1 curricula
  src/assets/samples/courses.json
Due: prettier --write

Add CGN-AWS-22-2
  src/assets/samples/courses.json
Due: prettier --write
