Repository neuefische/certificates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix --cache",
  "*.{js,ts,json,md}": "prettier --write"
}

🙈 Ignore ESLint cache
  .gitignore
Due: none

👷 Add Node workflow
  .github/workflows/node.js.yml
Due: none

✅ Add jest
  .eslintrc.json
  package-lock.json
  package.json
  src/server.test.ts
Due: eslint --fix --cache, prettier --write

✨ Display test content
  .gitignore
  package-lock.json
  package.json
  src/api.ts
  src/assets/fonts/OpenSans/LICENSE.txt
  src/assets/fonts/OpenSans/OpenSans-Bold.ttf
  src/assets/fonts/OpenSans/OpenSans-BoldItalic.ttf
  src/assets/fonts/OpenSans/OpenSans-ExtraBold.ttf
  src/assets/fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf
  src/assets/fonts/OpenSans/OpenSans-Italic.ttf
  src/assets/fonts/OpenSans/OpenSans-Light.ttf
  src/assets/fonts/OpenSans/OpenSans-LightItalic.ttf
  src/assets/fonts/OpenSans/OpenSans-Regular.ttf
  src/assets/fonts/OpenSans/OpenSans-SemiBold.ttf
  src/assets/fonts/OpenSans/OpenSans-SemiBoldItalic.ttf
  src/assets/images/page1.jpg
  src/assets/images/page2.jpg
  src/certificate.ts
  src/server.ts
Due: eslint --fix --cache, prettier --write

Replace background
  src/assets/images/background.jpg
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✨ Read talents and courses from JSON
  src/api.ts
  src/assets/samples/courses.json
  src/assets/samples/talents.json
  src/certificate.ts
  src/server.ts
Due: eslint --fix --cache, prettier --write

🔧 Read PORT from process.env
  src/server.ts
Due: eslint --fix --cache, prettier --write

🐛 Read samples relative to start script
  src/api.ts
Due: eslint --fix --cache, prettier --write

🗃 Add course dates to courses.json
  src/assets/samples/courses.json
Due: prettier --write

🏷️ Add course dates to type
  src/api.ts
Due: eslint --fix --cache, prettier --write

💄 Add line and change color of text
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

💄 Add lines to signatures
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🐛 Add missing PORT
  src/server.ts
Due: eslint --fix --cache, prettier --write

🚀 Deploy on Heroku (#1)
  src/api.ts
  src/server.ts
Due: eslint --fix --cache, prettier --write

🏷️ Update json structure and type
  src/api.ts
  src/assets/samples/courses.json
Due: eslint --fix --cache, prettier --write

✨ Generate german time string
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🐛 Change sign date to today
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✨ Create basic lazout of third page
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🗃 Add capstone project to talents
  src/api.ts
  src/assets/samples/talents.json
Due: eslint --fix --cache, prettier --write

➕ Install node-fetch
  package-lock.json
  package.json
Due: prettier --write

🗃 Add subtitle to data
  src/assets/samples/talents.json
Due: prettier --write

🍱 Add thrid page screenshot
  src/assets/images/page3.png
Due: none

🍱 Add iphone frame
  src/assets/images/iphone_frame.png
Due: none

✨ First draft of page three
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✨ Add Technology Highlights to page
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🩹 Render first and second page again
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🍱 Update background images to match new certificates
  src/assets/images/background.jpg
  src/assets/images/background.png
  src/assets/images/background_with_phone_frame.png
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✏️ Rename boolean desktop to isDesktop
  src/api.ts
  src/assets/samples/talents.json
Due: eslint --fix --cache, prettier --write

🙈 Add .env to .gitignore
  .gitignore
Due: none

➕ Install dotenv
  package-lock.json
  package.json
Due: prettier --write

✨ Import dotenv to server
  src/server.ts
Due: eslint --fix --cache, prettier --write

👽️ Fetch data from talent App API
  src/api.ts
Due: eslint --fix --cache, prettier --write

♻️ Destructure arguments
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

⚰️ Remove unused types
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

⚰️ Remove unnecessary await
  src/api.ts
Due: eslint --fix --cache, prettier --write

👽️ Update fetch from API
  src/api.ts
Due: eslint --fix --cache, prettier --write

📝 Add example .env
  .env.example
Due: none

📝 Add README
  README.md
Due: prettier --write

Create Docker Workflow
  .github/workflows/docker-publish.yml
Due: none
