Repository neuefische/certificates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --fix --cache",
  "*.{js,ts,json,md}": "prettier --write"
}

order rem-java-21-2 course content
  src/assets/samples/courses.json
Due: prettier --write

✨ Add rem-java-21-2 course (#22)
  src/assets/samples/courses.json
Due: prettier --write

🏷️ Add type attribute to courses
  src/api.ts
  src/assets/samples/courses.json
Due: eslint --fix --cache, prettier --write

💬 Add Data Course in json
  src/api.ts
  src/assets/samples/courses.json
Due: eslint --fix --cache, prettier --write

🐛 Fix names with commas
  src/server.ts
Due: eslint --fix --cache, prettier --write

♻️ Update first page to support data certificates
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🐛 Fix title overflow when too long
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🏷️ Create type for Data Topics
  src/api.ts
  src/assets/samples/courses.json
Due: eslint --fix --cache, prettier --write

♻️ Second page supports Data Topics
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

♻️ Load different background based on courseType
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

🩹 Substitute missing Certificate Description with normal desc
  src/api.ts
Due: eslint --fix --cache, prettier --write

✨ Add third page for data
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✨ Place icon on third page
  src/assets/images/background_data.png
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Added the data courses for hamburg and cologne
  src/assets/samples/courses.json
Due: prettier --write

🏷️ Improve course typings
  src/api.ts
Due: eslint --fix --cache, prettier --write

🏷️ Add Topics type
  src/api.ts
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

♻️ Clarified the if statements
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Fixed a typo in the cgn data course
  src/assets/samples/courses.json
Due: prettier --write

Added Simons whole name, changed the enddate, some more little changes
  src/assets/samples/courses.json
Due: prettier --write

Add hh-web-21-4-en course to courses.json
  src/assets/samples/courses.json
Due: prettier --write

✨ Introduce i18n
  src/assets/dictionary/en.ts
  src/i18n.ts
Due: eslint --fix --cache, prettier --write

🏷️ Add new course type and lang
  src/api.ts
Due: eslint --fix --cache, prettier --write

✨ Integrate i18n
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✨ Add example course
  src/assets/samples/courses.json
Due: prettier --write

🐛 Remove default value
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

✏️ Fix typo
  src/assets/dictionary/en.ts
Due: eslint --fix --cache, prettier --write

✨ Add i18n to date
  src/assets/dictionary/en.ts
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

added analytics course info
  src/assets/samples/courses.json
Due: prettier --write

🎨 Prettify courses.json
  src/assets/samples/courses.json
Due: prettier --write

🐛 Fix spacing on date
  src/assets/dictionary/en.ts
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

📝 Add cgn-web-21-3
  src/assets/samples/courses.json
Due: prettier --write

🎨 Remove empty-line
  src/assets/samples/courses.json
Due: prettier --write

Add rem-java-21-3
  src/assets/samples/courses.json
Due: prettier --write

🚚 Rename file and add auto deploy
  .github/workflows/deploy-certificates.yml
Due: none

✏️ Fix indentation
  .github/workflows/deploy-certificates.yml
Due: none

🚑 Fix yaml
  .github/workflows/deploy-certificates.yml
Due: none

Add hh-web-21-5-de course to json
  src/assets/samples/courses.json
Due: prettier --write

Add text for java bootcamp
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

Add more tools
  src/assets/samples/courses.json
Due: prettier --write

➕ Install express with types
  package-lock.json
  package.json
Due: prettier --write
