Repository neuefische/certificates: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write

♻️ Convert http to express
  src/server.ts
Due: eslint --fix --cache, prettier --write

♻️ Remove courseId from Talent
  src/api.ts
Due: eslint --fix --cache, prettier --write

♻️ Make courseId optional
  src/api.ts
Due: eslint --fix --cache, prettier --write

♻️ Return doc from createCertificate function
  src/certificate.ts
Due: eslint --fix --cache, prettier --write

♻️ Use createCertificates function
  src/server.ts
Due: eslint --fix --cache, prettier --write

🏷️ Remove unnecessary property
  src/api.ts
Due: eslint --fix --cache, prettier --write

✨ Introduce post route
  src/server.ts
Due: eslint --fix --cache, prettier --write

🤡 Mock post request
  sample.http
Due: none

updated certificate JSON for hh-analytics-21-3
  src/assets/samples/courses.json
Due: prettier --write

✨ Introduce schema validation
  package-lock.json
  package.json
  src/schema.ts
  src/server.ts
Due: eslint --fix --cache, prettier --write

Prettify courses.json
  src/assets/samples/courses.json
Due: prettier --write

✨ Add check if course exists
  src/server.ts
Due: eslint --fix --cache, prettier --write

Added the curriculum for hh-data-21-3
  src/assets/samples/courses.json
Due: prettier --write

Added the curriculum for java-21-4
  src/assets/samples/courses.json
Due: prettier --write

added the type to the data-hh-21-3 curriculum
  src/assets/samples/courses.json
Due: prettier --write

Adjust java-21-4 curriculum
  .gitignore
  src/assets/samples/courses.json
Due: prettier --write

✨ Add Schema for courses
  src/schema.ts
Due: eslint --fix --cache, prettier --write

✨ Check if course is provided via body and use that
  src/server.ts
Due: eslint --fix --cache, prettier --write

🤡 Mock API requests
  sample.http
Due: none

♻️ Remove title
  sample.http
Due: none

Fix invalid Date for java-21-04
  src/assets/samples/courses.json
Due: prettier --write

Added the hh-ds-21-4 Curriculum
  src/assets/samples/courses.json
Due: prettier --write

📝 Add course cgn-web-21-4
  src/assets/samples/courses.json
Due: prettier --write

📝 Add course hh-web-21-7
  src/assets/samples/courses.json
Due: prettier --write

📝 Update curriculum
  src/assets/samples/courses.json
Due: prettier --write

Revised course content
  src/assets/samples/courses.json
Due: prettier --write

Add rem-java-21-5
  src/assets/samples/courses.json
Due: prettier --write

updated for latest course
  src/assets/samples/courses.json
Due: prettier --write

rem-java-21-5 changed topics
  src/assets/samples/courses.json
Due: prettier --write

added muc-analytics-21-1 course
  src/assets/samples/courses.json
Due: prettier --write

minor changes after review for muc-analytics-21-1
  src/assets/samples/courses.json
Due: prettier --write

feat(web-hh-21-8): added certificate info
  src/assets/samples/courses.json
Due: prettier --write

feat(web-hh-21-8): added certificate info (#54)
  src/assets/samples/courses.json
Due: prettier --write

added hh-ds-22-1 to the course.json
  src/assets/samples/courses.json
Due: prettier --write

added hh-ds-22-1
  src/assets/samples/courses.json
Due: prettier --write

Hh ds 22 1 (#55)
  src/assets/samples/courses.json
Due: prettier --write

Add hh-web-22-1 json
  src/assets/samples/courses.json
Due: prettier --write

Path conditions:
  eslint --fix --cache: any of: *.{js,ts}
  prettier --write: any of: *.{js,ts,json,md}
